.C-SubCategorias{
    width: 35%;
    background-color: #78C28D; /*Cambia el color de contenedor IZQ*/
    color: #ecf0f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
}
.Titulo-S{
    color: white;
    display: flex;
    justify-content: center;
    padding: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* .A-Subcategorias{
   
} */
.B-Subcategorias{
    background-color: #ED9527;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
}
.botones-sub{
    display: flex;
    gap: 8px;
}
.botones-sub button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
    border-radius: 4px;
}